* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    min-width: 370px;
    background-image: linear-gradient(135deg, #585756, #f15209 32%,  #1ab649 52%,
      #154dc5 77%, #585756, #585756);
}

header h1 {
    padding: 20px 10px;
    letter-spacing: 0.2em;
    color: white;
} 

form * {
    background-color: rgba(256, 256, 256, 0.3);
    color: white;
}

form .search,
form .button {
     padding: 10px;
     border-radius: 2px;
     font-size: 14px;
     border: 1px solid black;
     color: #333;
     
}

::placeholder {
     color: #333;
}

form .search {
    width: 60%;
    min-width: 400px;
    max-width: 600px;
}

form .search:focus {
    outline: 0;
    color: #333;
    background: white;
    box-shadow: 0 0 1px 1px rgba (0, 0, 0, 0.3);
}

form .button {
    cursor: pointer;
    width: 80px;
}

form .button:hover {
    columns: #333;
    background: white;
    color: black;
}
.results {
    padding: 20px 0 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
    
}

.results img {
    margin: 5px;
    border: black 2px solid;
}



footer {
    color: #333;
    text-decoration: none;
} 
